*.iml
.gradle
/local.properties
/config/cicd-config.properties
.DS_Store
/build
/captures
/tv/release
/openvpn/build
/builds
.externalNativeBuild
/openvpn/build/
/.idea/
/openvpn/.cxx/
/ws/.idea/
/dga/build
/dga/.cxx

