<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.strongswan.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application>


        <service
            android:name="org.strongswan.android.logic.CharonVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="org.strongswan.android.logic.VpnStateService"
            android:exported="true"></service>
    </application>
</manifest>