<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity"
    android:versionCode="1207"
    >

    <application
        android:name=".windscribe.PhoneApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ws_launcher"
        android:roundIcon="@mipmap/ws_launcher_round"
        android:supportsRtl="false"
        android:largeHeap="true"
        android:theme="@style/DarkTheme"
        tools:targetApi="n">
        <activity
            android:name=".advance.AdvanceParamsActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            />
        <activity
            android:name=".robert.RobertSettingsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ticket.SendTicketActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".help.HelpActivity"
            android:screenOrientation="unspecified" />
        <activity android:name=".confirmemail.ConfirmActivity" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".gpsspoofing.GpsSpoofingSettingsActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.windscribe.vpn.backend.utils.VPNPermissionActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/blinkt.dialog" />
        <activity
            android:name=".networksecurity.networkdetails.NetworkDetailsActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".debug.DebugViewActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.WindLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <layout android:defaultHeight="800dp"
                android:defaultWidth="600dp"
                android:gravity="top|end"
                android:minHeight="450dp"
                android:minWidth="300dp" />
        </activity>
        <activity
            android:name=".email.AddEmailActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".windscribe.WindscribeActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainmenu.MainMenuActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".newsfeedactivity.NewsFeedActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".upgradeactivity.UpgradeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".account.AccountActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".generalsettings.GeneralSettingsActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".connectionsettings.ConnectionSettingsActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".splittunneling.SplitTunnelingActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".networksecurity.NetworkSecurityActivity"
            android:screenOrientation="unspecified" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
