<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1207"
    >

    <application
        android:name=".PhoneApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ws_launcher"
        android:roundIcon="@mipmap/ws_launcher_round"
        android:supportsRtl="false"
        android:largeHeap="true"
        android:theme="@style/DarkTheme"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">
        <activity
            android:name="com.windscribe.vpn.backend.utils.VPNPermissionActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/blinkt.dialog" />
        <activity
            android:name=".upgradeactivity.UpgradeActivity"/>
        <activity android:name=".upgradeactivity.UpgradeSuccessActivity" />
        <activity
            android:name=".ui.AppStartActivity"
            android:exported="true"
            android:theme="@style/AppTheme.WindLauncher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".ui.preferences.icons.VaporScribeActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_vapor"
            android:label="@string/app_name"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.GlitchScribeActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_glitch"
            android:label="@string/app_name"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.DickButtActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_butt"
            android:label="DickButt"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.PassActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pass"
            android:label="WindPass"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.BsActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_bs"
            android:label="BSVPN"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.ClockActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_clock"
            android:label="Clock"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.CalculatorActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calculator"
            android:label="Calculator"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.EightyActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eighty"
            android:label="@string/app_name"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.NeonActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_neon"
            android:label="@string/app_name"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.preferences.icons.SixtyActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sixty"
            android:label="@string/app_name"
            android:targetActivity=".ui.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>