<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1207"
    >

    <application
        android:name=".windscribe.PhoneApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ws_launcher"
        android:roundIcon="@mipmap/ws_launcher_round"
        android:supportsRtl="false"
        android:largeHeap="true"
        android:theme="@style/DarkTheme"
        tools:targetApi="n">
        <activity
            android:name="com.windscribe.vpn.backend.utils.VPNPermissionActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/blinkt.dialog" />
        <activity
            android:name=".upgradeactivity.UpgradeActivity"/>
        <activity android:name=".upgradeactivity.UpgradeSuccessActivity" />
        <activity
            android:name=".ui.AppStartActivity"
            android:exported="true"
            android:theme="@style/AppTheme.WindLauncher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>