<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.windscribe.stealth"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:extractNativeLibs="true"
        tools:targetApi="m">

    </application>
</manifest>